html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
}


.hero {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: red;
    flex-direction: column;
}

.hero.bg-1 {
    background: url('../images/background1.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.hero.bg-2 {
    background: url('../images/background2.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.hero:before {
    background: rgba(255, 255, 255, 0.1800);
    background: rgba(255, 255, 255, 0.400);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.hero .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}

.hero h1 {
    color: white;
    /* color: #DE98B2; */
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 72px;
    font-weight: 100;
    /* text-shadow: 1px 1px white; */
    z-index: 3;
}

.hero .action {
    background: #ff86ffe6;
    border-radius: 7px;
    font-weight: 900;
    border: 1px solid white;
    /* border: 1px solid #74e6ff; */
    /* box-shadow: 1px 1px 1px black; */
    color: white;
    /* color: #90e4ff; */
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-size: 31px;
    padding: 10px 20px;
    text-shadow: 1px 1px black;
    text-decoration: none;
    transition: all 0.25s ease;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #74e6ff;
    text-decoration: none;
    z-index: 3;
}

.hero .action {
    background: transparent;;
    font-weight: 400;
    border-radius: 0;
    border: 2px solid white;
    /* border: 1px solid #74e6ff; */
    /* box-shadow: 1px 1px 1px black; */
    color: white;
    /* color: #90e4ff; */
    cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-size: 23px;
    letter-spacing: 4.3px;
    padding: 20px 30px;
    text-shadow: 1px 1px black;
    text-decoration: none;
    transition: all 0.25s ease;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #74e6ff;
    text-decoration: none;
    z-index: 3;
}

.hero .action:hover {
    background: white;
    color: black;
    transform: translateY(-4px);
    text-shadow: none;
}

.social-wrapper {
    display: flex;
    flex-direction: row;
}

.social-wrapper.bottom-absolute {
    position: absolute;
    bottom: 50px;
}

.social-wrapper a {
    background: white;
    color: #616161;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    margin: 0px 3px;
    transition: all 0.25s ease;
}

.social-wrapper a:hover {
    transform: translateY(-3px);
}

.social-wrapper a i {
    font-size: 20px;
}

h1 {
    font-weight: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-header {
    width: 100%;
    height: 500px;
    background: red;
}

nav {
    margin: 10px 0;
    font-family: 'Crimson Text', serif;
}

nav a {
    color: #929292;
    margin: 0 10px;
    text-decoration: none;
}

.heading h1 {
    color: #F0B7CD;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    /* text-shadow: 2px 2px #9ed6ff; */
    font-weight: 100 !important;
    margin-bottom: 0px;
    z-index: 3;
}

.tile-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.tile {
    background: blue;
    height: 100%;
    width: 333px;
    margin: 10px 17px;
    background-size: cover;
    background-position: 50% 50%;
}

.tile-image {
    height: 200px;
}

.tile-image img {
    width: 100%;
}

@media (max-width: 900px) {
    .tile-wrapper {
        height: 400px;
    }

    .tile {
        margin: 10px 10px;
    }
}

@media (max-width: 700px) {
    .tile-wrapper {
        height: 300px;
    }

    .tile {
        margin: 10px 5px;
    }
}